<!-- javascript at the end of the doc so page loads faster -->
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous">
</script>
<script src="/js/semantic.min.js"></script>
<script src="/js/sidebar.js"></script>
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script src="/js/comments.js"></script>
<!-- 多说公共JS代码 end -->
<!-- 百度网站统计 start -->
<script src="/js/cnzz_analyst.js"></script>
<!-- 百度网站统计 end -->
