---
layout: page
title: Categories
---

<div class="ui tag large labels">
    {% for category in site.categories %}
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <a class="ui label" href="#{{ category_name | slugify }}" >
        {{ category_name }}({{ category | last | size }})
    </a>
    {% endfor %}
</div>

<h3 class="ui green dividing header"></h3>

<div class="ui divided items">
    {% for category in site.categories %}
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div class="item">
        <div class="content">
        <h3 class="ui green header" id="{{ category_name | slugify }}">{{ category_name }}</h3>
            <div class="ui animated list">
                {% for post in site.categories[category_name] %}
                {% include post-item.html %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
