---
layout: page
title: Tags
---

<div class="ui tag large labels">
    {% for tag in site.tags %}
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
    <a class="ui label" href="#{{ tag_name | slugify }}" >
        {{ tag_name }}({{ tag | last | size }})
    </a>
    {% endfor %}
</div>

<h3 class="ui green dividing header"></h3>

<div class="ui divided items">
    {% for tag in site.tags %}
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
    <div class="item">
        <div class="content">
            <h3 class="ui green header" id="{{ tag_name | slugify }}">{{ tag_name }}</h3>
            <div class="ui animated list">
                {% for post in site.tags[tag_name] %}
                {% include post-item.html %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

