/* Colors */
$green:    #A1D428;

$white:      #ECECEA;
$grey:       #8B898A;
$lightGrey:  #D9D9D9;
$darkGrey:   #414240;
$black: #252525;

code{
  color:green;
  background-color:#fdf6e3;
  padding: 2px;
  border: 1px solid green;
}