.page-header {
  position: fixed;
  z-index: inherit;
  width: 100%;
  padding-top:    1rem;
  padding-bottom: 1rem;
  background-color: rgba($white,0.75);
}
.page-sidebar-toggle {
  float: left;
  margin-left: 40px;
  cursor: pointer;
}