.post-wrap {
  padding-top: 6.5rem;
}
.post-content {
  margin: 2rem 1.5rem;
  font-family: 'Times New Roman';
  font-size: 1.4rem;
}
.post-content p, li, td, th, center {
  line-height: 180%;
}

.post-content table {
  margin: 0 auto;
}

.post-content em {
  color: #a80000;
}
.post-content td, th {
  border: 1px solid green;
  padding: 0 2rem;
}
.post-content a {
  color: $green;
}

.post-content a:hover {
  text-decoration: underline;
}
.post-related {
  margin: 1.5rem;
}

/* Utils */
.post-content-center-image
{
  margin: 0 auto;
  display: block;
}