.post-wrap {
  padding-top: 6.5rem;
}
.post-content {
  margin: 2rem 1.5rem;
  font-family: 'Times New Roman';
  font-size: 1.4rem;
}
.post-content p {
  line-height: 180%;
}
.post-content a {
  color: $green;
}

.post-content a:hover {
  text-decoration: underline;
}
.post-related {
  margin: 1.5rem;
}

/* Utils */
.post-content-center-image
{
  margin: 0 auto;
  display: block;
}