.post-wrap {
  padding-top: 6.5rem;
}
.post-content {
  margin: 2rem 1.5rem;
  font-family: 'Times New Roman';
  font-size: 1.4rem;
}
.post-content p, li, td, th, center {
  line-height: 180%;
}

.post-content table {
  margin: 1rem auto;
  font-size: 1.2rem !important;
}

.post-content table th {
  white-space: nowrap; /*表头内容强制在一行显示*/
}

.post-content em {
  color: #a80000;
}

.post-content hr {
  color: $green;
}

.post-content td, th {
  border: 1px solid green;
  padding: 0 1rem;
}
.post-content a {
  color: $green;
}

.post-content h1, h2, h3, h4, h5 {
  color: green;
}

.post-content a:hover {
  text-decoration: underline;
}
.post-related {
  margin: 1.5rem;
}


/* Utils */
.post-content-center-image
{
  margin: 0 auto;
  display: block;
}