---
layout: page
---
<h1 class="ui green dividing header">
    <div class="content">
        {{ page.title }}
        <div class="sub grey header">
            <p>
                <i class="calendar icon"></i>
                {{ page.date | date_to_string }}
                |

                <i class="folder open outline icon"></i>
                {{ page.category }}

                {% if page.tags %}
                |
                <i class="tag icon"></i>
                {% for tag in page.tags %}
                    {{ tag }}
                {% endfor %}
                {% endif %}
            </p>
        </div>
    </div>
</h1>

<div class="post-content">
    {{ content }}
</div>

<h2 class="ui dividing green header">
    <i class="linkify green icon"></i>
    Related Posts
</h2>
<div class="post-related">
    <div class="ui link animated list">
        {% for post in site.related_posts limit:3 %}
        <a class="item" href="{{ post.url }}">
            <h3>
                <i class="pointing right icon"></i>
                {{ post.title }}
                <small>{{ post.date | date_to_string }}</small>
            </h3>
        </a>
        {% endfor %}
    </div>
</div>

<h2 class="ui dividing green header">
    <i class="comments outline green icon"></i>
    Comments
</h2>
<!-- 多说评论框 start -->
<div class="ds-thread" data-thread-key={{page.id}} data-title={{page.title}} data-url={{page.url}}></div>
<!-- 多说评论框 end -->
